/* This sheet will represent the over all theme for the website, as well as toggling for light/ dark mode. */

html.darkTheme {
    font-family: 'IBM Plex Mono', monospace;
    text-align: right;
}

body.darkTheme {
    background-color: lightgray;
    color: black;
}

nav.darkTheme {
    background-color: cadetblue;
    color: darkgray;
}

html.lightTheme {
    font-family: 'IBM Plex Mono', monospace;
    text-align: left;
}

body.lightTheme {
    background-color: lightgoldenrodyellow;
    color: black;
}

nav.lightTheme {
    background-color: lightyellow;
    color: darkgray;
}