
.shopping-cart{
	float: right;
	clear: none;
}

.item img{
	width: 200px;
	height: 200px;
}

.quote {
    font-style: italic;
}

footer {
    text-align: center;
}

.item {
    max-width: 200px;
    text-align: center;
    padding: 10px;
    display: inline-block;
}

#items-in-cart {
	padding: 7px 12px;
	background-color: red;
	color: white;
	border-radius: 100px;